* {
    box-sizing: border-box;
  }
  body {
    font-family: Helvetica;
    background-color: #FCECDD;
    text-align: center;
  }
 .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  background-color: #FEA82F;
  padding: 50px;
}
.grid-container div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
}
.directions{
  font-weight: bold;
}
